@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Work Sans", sans-serif;
  background-color: #FFFAFA;
}

*::selection{
  background-color: #C79C6C;
  color: #FFFAFA;
}

.contact-section {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
}

.home-section {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
}

.titulos {
  text-align: left;
}

.button-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.boton {
  color: #ffffff;
  background-color: #C79C6C;
  border-color: #ae7f72;
  border-radius: 0%;
}

.boton:hover {
  background-color: #ae7f72;
  border-color: #ae7f72;
}

.header {
  background-image: url(./assets/bg-happycake.jpg);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 100px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-control {
  background-color: #ffffff;
  height: 100px;
}

.header-contacto {
  background-image: url(./assets/bg-happycake_contacto.jpg);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-container {
  margin-top: 80px;
}