@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Montserrat", sans-serif;
  background-color: #FFFAFA;
  color: #9e7266;
}

*::selection{
  background-color: #ae7f72;
  color: #FFFAFA;
}

.contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}

.home-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
}

.titulo-home {
  text-align: center;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
